extends base.pug 

block scripts 
    script(src="/static/index.js") 

block style 
    style 
        include ../static/home.css

block link
    link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css")    
    link(href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css", rel="stylesheet", integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC", crossorigin="anonymous")

block section form area
    <!-- -----section form area start----- -->
        section#home.banner
            div.container
                div.home-text
                    h1.h-primary 
                        |Donors                
    <!-- -----section form area end----- -->




block donor list area
    <!-- -----Donor List Area Start---- -->
        div.donor-list-area
            div.container
                div.headline
                    h2 Recent Donors
                    div.headline-icon
                div.donor-gallery
                    div.donor-item
                        div.donor-list
                            div.donor-photo
                                img.w-100.h-100(src="https://phpscriptpoint.com/cc/bloodbank/assets/uploads/donors/6.jpg", alt="")
                            div.donor-info
                                h2 #[a(href=`/donorDetail/`+donorid1) #{donorname1}]
                                h4 Blood Group:
                                    span #{donorbloodgroup1}

                                div.donor-social
                                    ul 
                                        li 
                                            a(href="#")
                                                i.fa.fa-facebook  
                                        li 
                                            a(href="#")
                                                i.fa.fa-twitter  
                                        li 
                                            a(href="#")
                                                i.fa.fa-linkedin  
                                        li 
                                            a(href="#")
                                                i.fa.fa-pinterest
                                div.donor-link
                                    a(href=`/donorDetail/`+donorid1) Read More                 
                    div.donor-item
                        div.donor-list
                            div.donor-photo
                                img.w-100.h-100(src="https://phpscriptpoint.com/cc/bloodbank/assets/uploads/donors/5.jpg", alt="")
                            div.donor-info
                                h2 #[a(href=`/donorDetail/`+donorid2) #{donorname2}]
                                h4 Blood Group:
                                    span #{donorbloodgroup2}

                                div.donor-social
                                    ul 
                                        li 
                                            a(href="#")
                                                i.fa.fa-facebook  
                                        li 
                                            a(href="#")
                                                i.fa.fa-twitter  
                                        li 
                                            a(href="#")
                                                i.fa.fa-linkedin  
                                        li 
                                            a(href="#")
                                                i.fa.fa-pinterest
                                div.donor-link
                                    a(href=`/donorDetail/`+donorid2) Read More                 
                    div.donor-item
                        div.donor-list
                            div.donor-photo
                                img.w-100.h-100(src="https://phpscriptpoint.com/cc/bloodbank/assets/uploads/donors/4.jpg", alt="")
                            div.donor-info
                                h2 #[a(href=`/donorDetail/`+donorid3) #{donorname3}]
                                h4 Blood Group:
                                    span #{donorbloodgroup3}

                                div.donor-social
                                    ul 
                                        li 
                                            a(href="#")
                                                i.fa.fa-facebook  
                                        li 
                                            a(href="#")
                                                i.fa.fa-twitter  
                                        li 
                                            a(href="#")
                                                i.fa.fa-linkedin  
                                        li 
                                            a(href="#")
                                                i.fa.fa-pinterest
                                div.donor-link
                                    a(href=`/donorDetail/`+donorid3) Read More                 
                    div.donor-item
                        div.donor-list
                            div.donor-photo
                                img.w-100.h-100(src="https://phpscriptpoint.com/cc/bloodbank/assets/uploads/donors/3.jpg", alt="")
                            div.donor-info
                                h2 #[a(href=`/donorDetail/`+donorid4) #{donorname4}]
                                h4 Blood Group:
                                    span #{donorbloodgroup4}

                                div.donor-social
                                    ul 
                                        li 
                                            a(href="#")
                                                i.fa.fa-facebook  
                                        li 
                                            a(href="#")
                                                i.fa.fa-twitter  
                                        li 
                                            a(href="#")
                                                i.fa.fa-linkedin  
                                        li 
                                            a(href="#")
                                                i.fa.fa-pinterest
                                div.donor-link
                                    a(href=`/donorDetail/`+donorid4) Read More                 
    <!-- -----Donor List Area End---- -->
