extends base.pug 

block scripts 
    script(src="/static/index.js") 
    script(src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js", integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM",  crossorigin="anonymous" )
    script(src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" ,integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p", crossorigin="anonymous")
    script(src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" ,integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF", crossorigin="anonymous")


block style 
    style 
        include ../static/home.css

block link
    link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css")    
    link(href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css", rel="stylesheet", integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC", crossorigin="anonymous")

block section form area
    <!-- -----section form area start----- -->
        section#home 
            div.container
                div.home-text
                    h1.h-primary 
                        |Search a Donor in Your Area
                div.col-10
                    div.searchbox        
                        form.p-0.w-100(action="/searchresult", method="post") 
                            //- div.search-input.btn
                            //-     input.form-control(type="text",name="country",placeholder="Country Name")
                            div.search-input.btn
                                select.form-control.chosen-select(name="state", data-placeholder="Select State Name")
                                    option(value="", disabled, selected, hidden )  
                                        |Select State
                                    option(value="Andhra Pradesh")  
                                        |Andhra Pradesh
                                    option(value="Andaman and Nicobar Islands")  
                                        |Andaman and Nicobar Islands
                                    option(value="Arunachal Pradesh")  
                                        |Arunachal Pradesh
                                    option(value="Assam")  
                                        |Assam
                                    option(value="Bihar")  
                                        |Bihar
                                    option(value="Chandigarh")  
                                        |Chandigarh
                                    option(value="Chhattisgarh")  
                                        |Chhattisgarh
                                    option(value="Dadar and Nagar Haveli")  
                                        |Dadar and Nagar Haveli
                                    option(value="Daman and Diu")  
                                        |Daman and Diu
                                    option(value="Delhi")  
                                        |Delhi
                                    option(value="Lakshadweep")  
                                        |Lakshadweep
                                    option(value="Puducherry")  
                                        |Puducherry
                                    option(value="Goa")  
                                        |Goa
                                    option(value="Gujarat")  
                                        |Gujarat
                                    option(value="Haryana")  
                                        |Haryana
                                    option(value="Himachal Pradesh")  
                                        |Himachal Pradesh
                                    option(value="Jammu and Kashmir")  
                                        |Jammu and Kashmir
                                    option(value="Jharkhand")  
                                        |Jharkhand
                                    option(value="Karnataka")  
                                        |Karnataka
                                    option(value="Kerala")  
                                        |Kerala
                                    option(value="Madhya Pradesh")  
                                        |Madhya Pradesh
                                    option(value="Maharashtra")  
                                        |Maharashtra
                                    option(value="Manipur")  
                                        |Manipur
                                    option(value="Meghalaya")  
                                        |Meghalaya
                                    option(value="Mizoram")  
                                        |Mizoram
                                    option(value="Nagaland")  
                                        |Nagaland
                                    option(value="Odisha")  
                                        |Odisha
                                    option(value="Punjab")  
                                        |Punjab
                                    option(value="Rajasthan")  
                                        |Rajasthan
                                    option(value="Sikkim")  
                                        |Sikkim
                                    option(value="Tamil Nadu")  
                                        |Tamil Nadu
                                    option(value="Telangana")  
                                        |Telangana
                                    option(value="Tripura")  
                                        |Tripura
                                    option(value="Uttar Pradesh")  
                                        |Uttar Pradesh
                                    option(value="Uttarakhand")  
                                        |Uttarakhand
                                    option(value="West Bengal")  
                                        |West Bengal
                            div.search-input.btn
                                input.form-control(type="text",name="city",placeholder="City Name")
                            div.search-input.btn
                                select.form-control.chosen-select(name="bloodgroup", data-placeholder="Choose Blood Group")
                                    option(value="", disabled, selected, hidden )  
                                        |Choose Blood Group
                                    option(value="A+")  
                                        |A+
                                    option(value="A-")  
                                        |A-
                                    option(value="B+")  
                                        |B+
                                    option(value="B-")  
                                        |B-
                                    option(value="AB+")  
                                        |AB+
                                    option(value="AB-")  
                                        |AB-
                                    option(value="O+")  
                                        |O+
                                    option(value="O-")  
                                        |O-        
                            div.search-input.btn
                                input(type="submit", value="Search Donor", name="form_search")
    <!-- -----section form area end----- -->


block blood gallery 
    <!-- -----blood gallery start----- -->
        div.blood-gallery
            div.container 
                div.headline
                    h2 Blood Groups
                    div.headline-icon    

                div.blood-grid
                    div.blood-group
                        div.blood-item
                            a(href="/searchresult/AO%2B") A+     
                    div.blood-group
                        div.blood-item
                            a(href="/searchresult/A-") A-     
                    div.blood-group
                        div.blood-item
                            a(href="/searchresult/BO%2B") B+     
                    div.blood-group
                        div.blood-item
                            a(href="/searchresult/B-") B-     
                    div.blood-group
                        div.blood-item
                            a(href="/searchresult/ABO%2B") AB+     
                    div.blood-group
                        div.blood-item
                            a(href="/searchresult/AB-") AB-     
                    div.blood-group
                        div.blood-item
                            a(href="/searchresult/OO%2B", name="opositive") O+     
                    div.blood-group
                        div.blood-item
                            a(href="/searchresult/O-") O-     
    <!-- -----blood gallery End----- -->

block donor list area
    <!-- -----Donor List Area Start---- -->
        div.donor-list-area
            div.container
                div.headline
                    h2 Recent Donors
                    div.headline-icon
                div.donor-gallery
                    div.donor-item
                        div.donor-list
                            //- div.donor-photo(style={background: "url('/static/images/donors/donor1.jpg')"})
                            div.donor-photo
                                img.w-100.h-100(src="https://phpscriptpoint.com/cc/bloodbank/assets/uploads/donors/6.jpg", alt="")
                            div.donor-info
                                h2 #[a(href="#") #{nameofperson}]
                                h4 Blood Group:
                                    span #{bloodgroupofperson}

                                div.donor-social
                                    ul 
                                        li 
                                            a(href="#")
                                                i.fa.fa-facebook  
                                        li 
                                            a(href="#")
                                                i.fa.fa-twitter  
                                        li 
                                            a(href="#")
                                                i.fa.fa-linkedin  
                                        li 
                                            a(href="#")
                                                i.fa.fa-pinterest
                                div.donor-link
                                    a(href="#") Read More                 
                    div.donor-item
                        div.donor-list
                            div.donor-photo
                                img.w-100.h-100(src="https://phpscriptpoint.com/cc/bloodbank/assets/uploads/donors/5.jpg", alt="")
                            div.donor-info
                                h2 #[a(href="#") #{nameofperson2}]
                                h4 Blood Group:
                                    span #{bloodgroupofperson2}

                                div.donor-social
                                    ul 
                                        li 
                                            a(href="#")
                                                i.fa.fa-facebook  
                                        li 
                                            a(href="#")
                                                i.fa.fa-twitter  
                                        li 
                                            a(href="#")
                                                i.fa.fa-linkedin  
                                        li 
                                            a(href="#")
                                                i.fa.fa-pinterest
                                div.donor-link
                                    a(href="#") Read More                 
                    div.donor-item
                        div.donor-list
                            div.donor-photo
                                img.w-100.h-100(src="https://phpscriptpoint.com/cc/bloodbank/assets/uploads/donors/4.jpg", alt="")
                            div.donor-info
                                h2 #[a(href="#") #{nameofperson3}]
                                h4 Blood Group:
                                    span #{bloodgroupofperson3}

                                div.donor-social
                                    ul 
                                        li 
                                            a(href="#")
                                                i.fa.fa-facebook  
                                        li 
                                            a(href="#")
                                                i.fa.fa-twitter  
                                        li 
                                            a(href="#")
                                                i.fa.fa-linkedin  
                                        li 
                                            a(href="#")
                                                i.fa.fa-pinterest
                                div.donor-link
                                    a(href="#") Read More                 
                    div.donor-item
                        div.donor-list
                            div.donor-photo
                                img.w-100.h-100(src="https://phpscriptpoint.com/cc/bloodbank/assets/uploads/donors/3.jpg", alt="")
                            div.donor-info
                                h2 #[a(href="#") #{nameofperson4}]
                                h4 Blood Group:
                                    span #{bloodgroupofperson4}

                                div.donor-social
                                    ul 
                                        li 
                                            a(href="#")
                                                i.fa.fa-facebook  
                                        li 
                                            a(href="#")
                                                i.fa.fa-twitter  
                                        li 
                                            a(href="#")
                                                i.fa.fa-linkedin  
                                        li 
                                            a(href="#")
                                                i.fa.fa-pinterest
                                div.donor-link
                                    a(href="#") Read More                 
    <!-- -----Donor List Area End---- -->

block benefeciaries area
    <!-- -----Beneficiaries(Recipient) Area Start-----  -->
        div.donor-list-area.recipient-area
            div.container
                div.headline
                    h2 Recent Beneficiaries
                    div.headline-icon    
                div.donor-gallery
                    div.donor-item
                        div.donor-list
                            div.donor-photo
                                img.w-100.h-100(src="https://phpscriptpoint.com/cc/bloodbank/assets/uploads/agents/12.jpg", alt="")
                            div.donor-info
                                h2 #[a(href="#") #{benificiaryname1}]
                                h4 Blood Group:
                                    span #{benificiaryblood1}

                                div.donor-social
                                    ul 
                                        li 
                                            a(href="#")
                                                i.fa.fa-facebook  
                                        li 
                                            a(href="#")
                                                i.fa.fa-twitter  
                                        li 
                                            a(href="#")
                                                i.fa.fa-linkedin  
                                        li 
                                            a(href="#")
                                                i.fa.fa-pinterest
                                div.donor-link
                                    a(href="#") Read More                 
                    div.donor-item
                        div.donor-list
                            div.donor-photo
                                img.w-100.h-100(src="https://phpscriptpoint.com/cc/bloodbank/assets/uploads/agents/11.jpg", alt="")
                            div.donor-info
                                h2 #[a(href="#") #{benificiaryname2}]
                                h4 Blood Group:
                                    span #{benificiaryblood2}

                                div.donor-social
                                    ul 
                                        li 
                                            a(href="#")
                                                i.fa.fa-facebook  
                                        li 
                                            a(href="#")
                                                i.fa.fa-twitter  
                                        li 
                                            a(href="#")
                                                i.fa.fa-linkedin  
                                        li 
                                            a(href="#")
                                                i.fa.fa-pinterest
                                div.donor-link
                                    a(href="#") Read More                 
                    div.donor-item
                        div.donor-list
                            div.donor-photo
                                img.w-100.h-100(src="https://phpscriptpoint.com/cc/bloodbank/assets/uploads/agents/10.jpg", alt="")
                            div.donor-info
                                h2 #[a(href="#") #{benificiaryname3}]
                                h4 Blood Group:
                                    span #{benificiaryblood3}

                                div.donor-social
                                    ul 
                                        li 
                                            a(href="#")
                                                i.fa.fa-facebook  
                                        li 
                                            a(href="#")
                                                i.fa.fa-twitter  
                                        li 
                                            a(href="#")
                                                i.fa.fa-linkedin  
                                        li 
                                            a(href="#")
                                                i.fa.fa-pinterest
                                div.donor-link
                                    a(href="#") Read More                 
                    div.donor-item
                        div.donor-list
                            div.donor-photo
                                img.w-100.h-100(src="https://phpscriptpoint.com/cc/bloodbank/assets/uploads/agents/6.jpg", alt="")
                            div.donor-info
                                h2 #[a(href="#") #{benificiaryname4}]
                                h4 Blood Group:
                                    span #{benificiaryblood4}

                                div.donor-social
                                    ul 
                                        li 
                                            a(href="#")
                                                i.fa.fa-facebook  
                                        li 
                                            a(href="#")
                                                i.fa.fa-twitter  
                                        li 
                                            a(href="#")
                                                i.fa.fa-linkedin  
                                        li 
                                            a(href="#")
                                                i.fa.fa-pinterest
                                div.donor-link
                                    a(href="#") Read More
    <!-- -----Beneficiaries(Recipient) Area End-----  -->

block people speak area
    <!-- -----People Speak Section Start----- -->
    
        div.speak-section-image
            div.bg-2

            div.container
                div.headline.headline-white
                    h2 Beneficiaries Speak
                    div.headline-icon   
            div#carouselExampleControls.carousel.slide(data-bs-ride="carousel")
                div.carousel-inner
                    div.carousel-item.active
                        div.testimonial-item
                            div.testimonial-photo
                                img(src="https://phpscriptpoint.com/cc/bloodbank/assets/uploads/testimonial-4.jpg", alt="")
                            div.testimonial-text
                                h2 Gary Brent
                                h3 CFO(XYZ It Solution)
                                div.testimonial-para
                                    p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Omnis sint ab quae laudantium amet magnam illum veniam quibusdam commodi expedita, labore, libero voluptas id? Impedit voluptatem esse neque doloribus consectetur?
                    div.carousel-item
                        div.testimonial-item
                            div.testimonial-photo
                                img(src="https://phpscriptpoint.com/cc/bloodbank/assets/uploads/testimonial-3.jpg", alt="")
                            div.testimonial-text
                                h2 Stefen Carman
                                h3 Chairman(GH Group)
                                div.testimonial-para
                                    p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Omnis sint ab quae laudantium amet magnam illum veniam quibusdam commodi expedita, labore, libero voluptas id? Impedit voluptatem esse neque doloribus consectetur?
                    div.carousel-item
                        div.testimonial-item
                            div.testimonial-photo
                                img(src="https://phpscriptpoint.com/cc/bloodbank/assets/uploads/testimonial-4.jpg", alt="")
                            div.testimonial-text
                                h2 Gary Brent
                                h3 CFO(XYZ It Solution)
                                div.testimonial-para
                                    p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Omnis sint ab quae laudantium amet magnam illum veniam quibusdam commodi expedita, labore, libero voluptas id? Impedit voluptatem esse neque doloribus consectetur?
                button.carousel-control-prev(type="button", data-bs-target="#carouselExampleControls", data-bs-slide="prev")
                    span.carousel-control-prev-icon(aria-hidden="true")
                    span.visually-hidden |Previous
                button.carousel-control-next(type="button", data-bs-target="#carouselExampleControls", data-bs-slide="next")
                    span.carousel-control-next-icon(aria-hidden="true")
                    span.visually-hidden |Next



        //- div.speak-section-image
        //-     div.bg-2

        //-     div.container
        //-         div.headline.headline-white
        //-             h2 Beneficiaries Speak
        //-             div.headline-icon    

        //-     div.speak-gallery
        //-         div.gallery-outer-stage
        //-             div.gallery-stage
        //-                 div.gallery-item
        //-                     div.testimonial-item
        //-                         div.testimonial-photo
        //-                         div.testimonial-text
        //-                             h2 Gary Brent
        //-                             h3 CFO(XYZ It Solution)
        //-                             div.testimonial-para
        //-                                 p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Omnis sint ab quae laudantium amet magnam illum veniam quibusdam commodi expedita, labore, libero voluptas id? Impedit voluptatem esse neque doloribus consectetur?
        //-                 div.gallery-item
        //-                     div.testimonial-item
        //-                         div.testimonial-photo
        //-                         div.testimonial-text
        //-                             h2 Gary Brent
        //-                             h3 CFO(XYZ It Solution)
        //-                             div.testimonial-para
        //-                                 p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Omnis sint ab quae laudantium amet magnam illum veniam quibusdam commodi expedita, labore, libero voluptas id? Impedit voluptatem esse neque doloribus consectetur?
        //-                 div.gallery-item
        //-                     div.testimonial-item
        //-                         div.testimonial-photo
        //-                         div.testimonial-text
        //-                             h2 Gary Brent
        //-                             h3 CFO(XYZ It Solution)
        //-                             div.testimonial-para
        //-                                 p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Omnis sint ab quae laudantium amet magnam illum veniam quibusdam commodi expedita, labore, libero voluptas id? Impedit voluptatem esse neque doloribus consectetur?
        //-                 div.gallery-item
        //-                     div.testimonial-item
        //-                         div.testimonial-photo
        //-                         div.testimonial-text
        //-                             h2 Gary Brent
        //-                             h3 CFO(XYZ It Solution)
        //-                             div.testimonial-para
        //-                                 p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Omnis sint ab quae laudantium amet magnam illum veniam quibusdam commodi expedita, labore, libero voluptas id? Impedit voluptatem esse neque doloribus consectetur?
        //-         div.gallery-nav.disabled
        //-             div.gallery-prev
        //-                 i.fa.fa-angle-left
        //-             div.gallery-next    
        //-                 i.fa.fa-angle-right
        //-         div.gallery-dots
        //-             div.gallery-dot
        //-                 span 
        //-             div.gallery-dot
        //-                 span 
        //-             div.gallery-dot
        //-                 span 
        //-             div.gallery-dot.active
        //-                 span 
    <!-- -----People Speak Section End----- -->

block latest news area
    <!-- -----Latest News Area Start----- -->
        div.latest-news
            div.container
                div.headline
                    h2 
                        span Latest 
                        | News
                    div.headline-icon
                div.latest-gallery-news
                    div.gallery-outer-stage-news
                        div.gallery-stage-news
                            div.gallery-item-news
                                div.latest-item
                                    div.latest-photo
                                        img.w-100.h-100(src="https://phpscriptpoint.com/cc/bloodbank/assets/uploads/news-6.jpg", alt="")
                                    div.latest-text
                                        h2 Lorem ipsum dolor sit amet consr.
                                        ul 
                                            li Category:
                                                a(href="#")  Residential
                                            li Date: 05-04-2019
                                        div.latest-para
                                            p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eius animi fugarepellendus sint dignissimos, perferendis voluptates mollitia debitismolestias, laudantium voluptatum beatae facilis....
                                            a(href="#") Read More 
                                div.latest-item
                                    div.latest-photo
                                        img.w-100.h-100(src="https://phpscriptpoint.com/cc/bloodbank/assets/uploads/news-5.jpg", alt="")
                                    div.latest-text
                                        h2 Lorem ipsum dolor sit amet consr.
                                        ul 
                                            li Category:
                                                a(href="#")  Residential
                                            li Date: 05-04-2019
                                        div.latest-para
                                            p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eius animi fugarepellendus sint dignissimos, perferendis voluptates mollitia debitismolestias, laudantium voluptatum beatae facilis....
                                            a(href="#") Read More 
                                div.latest-item
                                    div.latest-photo
                                        img.w-100.h-100(src="https://phpscriptpoint.com/cc/bloodbank/assets/uploads/news-7.jpg", alt="")
                                    div.latest-text
                                        h2 Lorem ipsum dolor sit amet consr.
                                        ul 
                                            li Category:
                                                a(href="#")  Residential
                                            li Date: 05-04-2019
                                        div.latest-para
                                            p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eius animi fugarepellendus sint dignissimos, perferendis voluptates mollitia debitismolestias, laudantium voluptatum beatae facilis....
                                            a(href="#") Read More 
                    div.gallery-nav
                    div.gallery-dots                    
    <!-- -----Latest News Area End----- -->



