extends base.pug 

block scripts 
    script(src="/static/index.js") 

block style 
    style 
        include ../static/home.css

block link
    link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css")


block section form area
    <!-- -----section form area start----- -->
        section#home.banner
            div.container
                div.home-text
                    h1.h-primary 
                        |SEARCH RESULT   
    <!-- -----section form area end----- -->    

block searchresult area
    <!-- -----searchresult area start----- -->
    div.donor-list-area
            div.container
                div.parent
                    div.headline
                        h3.searchheadline All Results for → Blood Group: #{bloodgroupofperson}
                        //- div.headline-icon
                    div.donor-gallery
                        div.donor-item
                            div.donor-list
                                div.donor-photo
                                div.donor-info
                                    h2 #[a(href="#") #{nameofperson}]
                                    h4 Blood Group:
                                        span #{bloodgroupofperson}

                                    div.donor-social
                                        ul 
                                            li 
                                                a(href="#")
                                                    i.fa.fa-facebook  
                                            li 
                                                a(href="#")
                                                    i.fa.fa-twitter  
                                            li 
                                                a(href="#")
                                                    i.fa.fa-linkedin  
                                            li 
                                                a(href="#")
                                                    i.fa.fa-pinterest
                                    div.donor-link
                                        a(href="#") Read More           
                        div.donor-item
                            div.donor-list
                                div.donor-photo
                                div.donor-info
                                    h2 #[a(href="#") #{nameofperson2}]
                                    h4 Blood Group:
                                        span #{bloodgroupofperson2}

                                    div.donor-social
                                        ul 
                                            li 
                                                a(href="#")
                                                    i.fa.fa-facebook  
                                            li 
                                                a(href="#")
                                                    i.fa.fa-twitter  
                                            li 
                                                a(href="#")
                                                    i.fa.fa-linkedin  
                                            li 
                                                a(href="#")
                                                    i.fa.fa-pinterest
                                    div.donor-link
                                        a(href="#") Read More           
                        div.donor-item
                            div.donor-list
                                div.donor-photo
                                div.donor-info
                                    h2 #[a(href="#") #{nameofperson3}]
                                    h4 Blood Group:
                                        span #{bloodgroupofperson3}

                                    div.donor-social
                                        ul 
                                            li 
                                                a(href="#")
                                                    i.fa.fa-facebook  
                                            li 
                                                a(href="#")
                                                    i.fa.fa-twitter  
                                            li 
                                                a(href="#")
                                                    i.fa.fa-linkedin  
                                            li 
                                                a(href="#")
                                                    i.fa.fa-pinterest
                                    div.donor-link
                                        a(href="#") Read More           




    <!-- -----searchresult area end----- -->